body {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 20px;
  background: #1D1D1D;
}

p {
  line-height: 1.6em;
}

a {
  color: #000;
}

h1,
h2 {
  padding: 0;
  margin: 0;
}

h1 {
  font-weight: normal;
}

h2 {
  font-size: 60px;
  text-align: center;
}

h3 {
  font-size: 1.8em;
  margin: 15px 0;
}

img {
  max-width: 100%;
  height: auto;
}

div.container,
div.small-container {
  margin: 0 auto;
  padding: 0 20px;
}

div.container {
  max-width: 940px;
}

div.small-container {
  max-width: 700px;
}

header,
footer {
  background: #1D1D1D;
  color: #ffffff;
}

section.hero {
  color: #fff;
  background-image: url('/images/bg.jpg');
  background-size: cover;
}

p.post-hero {
  width: 80%;
  margin: 0 auto;
}

header a,
section.hero a,
footer a {
  text-decoration: none;
  color: #ffffff;
}

header,
footer {
  padding: 10px 0;
}

nav.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}

nav.main-nav li,
nav.main-nav a {
  display: inline-block;
}

nav.main-nav li a {
  padding: 10px;
}

div.content {
  background: #fff;
}

section.hero {
  padding: 120px 0;
}

p.sub-text {
  font-size: 20px;
  text-align: center;
  line-height: 28px;
}

.center-text {
  text-align: center;
}

.columns:after {
  content: "";
  display: table;
  clear: both;
}

.spacing {
  padding: 50px 0;
}

.column {
  box-sizing: border-box;
  float: left;
}

.column.third {
  width: 33%;
  padding: 0 20px;
  text-align: center;
}

.column.half {
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

.blog-post {
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.blog-post .date {
  float: right;
}

.comment {
  border: 1px solid #CCC;
  padding: 20px 50px;
  color: #777;
  position: relative;
  font-size: .9em;
  margin: 30px 0;
}

.comment h4 {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 40px;
  left: 143px;
}

.comment span.date {
  position: absolute;
  top: 64px;
  left: 142px;
}

.comment .profile-image img {
  width: 80px;
  height: 80px;
  border-radius: 100px;
}

hr {
  border: 1px solid #eee;
  margin: 60px 0;
}

textarea,
input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  display: block;
  box-sizing: padding-box;
}

textarea {
  height: 250px;
  line-height: 1.5em;
  border: 1px solid #ccc;
  resize: none;
}

label {
  margin: 30px 0 10px 0;
  display: block;
}

input[type="submit"] {
  margin: 30px 0 0 0;
  font-size: 20px;
}